.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    margin-bottom: 30px;
}

.row {
    display: flex;
    justify-content: center;
}

.box {
    border: 4px solid;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.letter {
    font-size: 40px;
    margin: 20px;
}


.keyboard {
    display: flex;
    justify-content: center;
}

.default-color {
    border: 2px solid;
    font-size: 20px;
    font-weight: 400;
    margin: 4px;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.green-color {
    border: 2px solid;
    background-color: green;
    font-size: 20px;
    font-weight: 400;
    margin: 4px;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.yellow-color {
    border: 2px solid;
    background-color: yellow;
    font-size: 20px;
    font-weight: 400;
    margin: 4px;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.gray-color {
    border: 2px solid;
    background-color: gray;
    font-size: 20px;
    font-weight: 400;
    margin: 4px;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.del-button {
    border: 2px solid;
    font-size: 20px;
    font-weight: 600;
    margin: 4px;
    height: 2.3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.enter-button {
    border: 2px solid;
    font-size: 20px;
    font-weight: 600;
    margin: 4px;
    height: 2.3rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.menu-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid;
    border-radius: 3px;
    margin: 0 auto;
}

.menu-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-weight: bold;
    border: 3px solid;
    margin-bottom: 25px;
}